@font-face {
  font-family: 'font';
  src: url("/font/BMEuljiro10yearslater.ttf") format('truetype');
}
*{
  padding: 0;
  margin: 0;
}
body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url(/img/bg.png);
}
h1{
  font-size: 40px;
}
.intro{
  width: 100%;
  display: flex;
  justify-content: center;
}
.wanted{
  margin: 4.5vh 0 0vh 28vw;
  width: 33vw;
  height: 90vh;
}
.info{
  width: 23vw;
  height: 28vw;
  position: relative;
  top: 22vh;
  left: 2vw;
  box-shadow: 1px 13px 15px rgb(38, 17, 3);
  background-image: url(/img/paper\ texture.jpg);
}
.tack{
  width: 1.6vw;
  height: 1.6vw;
  border-radius: 100%;
  box-shadow: 1px 5px 5px rgb(58, 58, 58);
  position: relative;
  top: 24vh;
  right: 22vw;
  background-color: rgba(240, 248, 255, 0);
}
.tack-2{
  width: 1.6vw;
  height: 1.6vw;
  border-radius: 100%;
  box-shadow: 1px 5px 5px rgb(58, 58, 58);
  position: relative;
  top: 24vh;
  right: 2.5vw;
  background-color: rgba(240, 248, 255, 0);
}
.information{
  font-family: 'font';
  margin: 6vh 0 1vh 0;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.name, .age, .job, .student-number, .wish, .track{
  font-family: 'font';
  margin: 2.5vh 0 0 2vw;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
}
.info span{
  font-size: 27px;
  font-weight: 900;
}
