*{
  padding: 0;
  margin: 0;
}
body{
  padding: 20vh 5vw 0 5vw;
  background-color: rgb(249, 249, 249);
}
body::-webkit-scrollbar{
  width: 0.7vw;
  background-color: rgb(255, 228, 206);
}
body::-webkit-scrollbar-thumb{
  border-radius: 100px;
  background-color: orangered;
}
h1{
  color: orangered;
  font-size: 40px;
}
.mbti, .hobby, .color, .beside, .wish{
  margin: 3vh 0 10vh 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ------------------------------------------------------------------------- */
@font-face {
  font-family: 'font-2';
  src: url("/font/GetboregTrialOnly-2OZo3.ttf") format('truetype');
}
.mbti h1{
  margin: 0 0 8vh 0;
}
.mbti h1::after{
  content: "";
  width: 5vw;
  display: block;
  border-bottom: 3px solid orangered;
  position: relative;
  left: 7.9vw;
  bottom: 3.8vh;
}
.mbti h1::before, .hobby h1::before, .color h1::before, .beside h1::before, .wish h1::before{
  content: "";
  width: 5vw;
  display: block;
  border-bottom: 3px solid orangered;
  position: relative;
  top: 4.4vh;
  right: 6.5vw;
}
.mbti-box{
  width: 60%;
  height: 50vh;
  display: flex;
  justify-content: center;
}
.mbti-box:active span{
  color: orangered;
}
.mbti-1, .mbti-2, .mbti-3, .mbti-4{
  font-family: 'font-2';
  margin: 0 0vw  1vw;
  width: 15vw;
  height: 15vw;
  display: inline-block;
  color: rgb(249, 249, 249);
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  line-height: 15vw;
  border: 2px solid rgb(255, 179, 151);
}
.mbti-2, .mbti-3, .mbti-4{
  border-left: none;
}
.mbti-1:hover, .mbti-2:hover, .mbti-3:hover, .mbti-4:hover{
  color: orangered;
  background-color: rgb(255, 246, 215);
}
/* -------------------------------------------------------------------------- */
  .hobby-box{
margin: 5vh 0 10vh 0;
width: 70%;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}
.hobby h1::after{
  content: "";
  width: 5vw;
  display: block;
  border-bottom: 3px solid orangered;
  position: relative;
  left: 6.5vw;
  bottom: 3.8vh;
}
.h-img{
margin: 1vw 1vw 1vw 1vw;
width: 15vw;
transition-duration: 0.5s;
}
.h-img:hover{
  width: 25vw;
}
/* -------------------------------------------------------------- */
.color-box{
  margin: 5vh 0 12vh 0;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color h1::after{
  content: "";
  width: 5vw;
  display: block;
  border-bottom: 3px solid orangered;
  position: relative;
  left: 15.5vw;
  bottom: 3.8vh;
}
.c-1, .c-2{
  margin: 1vw 0vw 1vw 0vw;
  width: 13vw;
  height: 13vw;
}
.c-1{
  background: linear-gradient(to right, red, rgb(255, 191, 0));
  transition-duration: 0.8s;
}
.c-2{
background: linear-gradient(to right, rgb(0, 96, 29), rgb(217, 255, 0));
transition-duration: 0.8s;
}
.c-1:hover, .c-2:hover{
  width: 30vw;
}
/* ---------------------------------------- */
.beside h1::after{
  content: "";
  width: 5vw;
  display: block;
  border-bottom: 3px solid orangered;
  position: relative;
  left: 22vw;
  bottom: 3.8vh;
}
.beside img{
  margin: 10vh 0.8vw 10vh 0.8vw;
  width: 16vw;
  height: 16vw;
  transition-duration: 0.5s;
}
.beside img:hover{
  width: 20vw;
  height: 20vw;
}
/* ----------------------------------------------------------------------- */
.wish{
  margin: 20vh 0 0 0;
}
.wish-box{
  margin: 8vh 0 29vh 0;
  width: 80%;
  height: 30vh;
  display: flex;
  justify-content: center;
  /* box-shadow: 2px 13px 15px rgb(173, 173, 173); */
  border: 2px solid orangered;
}
.wish h1::after{
  content: "";
  width: 5vw;
  display: block;
  border-bottom: 3px solid orangered;
  position: relative;
  left: 15.5vw;
  bottom: 3.8vh;
}
.wish p{
  margin: 10vh 0 15vh 0;
  line-height: 40px;
  font-size: 25px;
  font-weight: 500;
}