*{
  padding: 0;
  margin: 0;
}
body{
  padding: 20vh 5vw 0 5vw;
  background-color: rgb(249, 249, 249);
}
h1{
  color: orangered;
  font-size: 40px;
}
.mbti, .hobby, .color, .animal{
  margin: 6vh 0 10vh 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ------------------------------------------------------------------------- */
.mbti h1{
  margin: 0 0 8vh 0;
}
.mbti h1::after{
  content: "";
  width: 5vw;
  display: block;
  border-bottom: 3px solid orangered;
  position: relative;
  left: 7vw;
  bottom: 3.4vh;
}
.mbti h1::before{
  content: "";
  width: 5vw;
  display: block;
  border-bottom: 3px solid orangered;
  position: relative;
  right: 5.6vw;
  top: 4.4vh;
}
.mbti-box{
  width: 60%;
  height: 50vh;
  display: flex;
  justify-content: center;
}
.mbti-box:active span{
  color: orangered;
}
.mbti-1, .mbti-2, .mbti-3, .mbti-4{
  margin: 0 0vw  1vw;
  width: 15vw;
  height: 15vw;
  display: inline-block;
  color: rgb(249, 249, 249);
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  line-height: 15vw;
  border: 2px solid rgb(173, 173, 173);
}
.mbti-2, .mbti-3, .mbti-4{
  border-left: none;
}
.mbti-1:hover, .mbti-2:hover, .mbti-3:hover, .mbti-4:hover{
  color: orangered;
  background-color: rgb(255, 246, 215);
}
/* -------------------------------------------------------------------------- */
  .hobby-box{
margin: 5vh 0 10vh 0;
width: 70%;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}
.hobby h1::after{
  content: "";
  width: 5vw;
  display: block;
  border-bottom: 3px solid orangered;
  position: relative;
  left: 5.8vw;
  bottom: 3.4vh;
}
.hobby h1::before{
  content: "";
  width: 5vw;
  display: block;
  border-bottom: 3px solid orangered;
  position: relative;
  right: 5.6vw;
  top: 4.4vh;
}
.h-img{
margin: 1vw 1vw 1vw 1vw;
width: 15vw;
transition-duration: 0.5s;
}
.h-img:active{
  width: 25vw;
}
/* -------------------------------------------------------------- */
.color-box{
  margin: 5vh 0 10vh 0;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color h1::after{
  content: "";
  width: 5vw;
  display: block;
  border-bottom: 3px solid orangered;
  position: relative;
  left: 14.7vw;
  bottom: 3.4vh;
}
.color h1::before{
  content: "";
  width: 5vw;
  display: block;
  border-bottom: 3px solid orangered;
  position: relative;
  right: 5.6vw;
  top: 4.4vh;
}
.c-1, .c-2{
  margin: 1vw 0vw 1vw 0vw;
  width: 13vw;
  height: 13vw;
}
.c-1{
  background: linear-gradient(to right, red, rgb(255, 191, 0));
  transition-duration: 0.8s;
}
.c-2{
background: linear-gradient(to right, rgb(0, 96, 29), rgb(217, 255, 0));
transition-duration: 0.8s;
}
.c-1:active, .c-2:active{
  width: 30vw;
}
/* ---------------------------------------- */
.animal h1::after{
  content: "";
  width: 5vw;
  display: block;
  border-bottom: 3px solid orangered;
  position: relative;
  left: 17vw;
  bottom: 3.4vh;
}
.animal h1::before{
  content: "";
  width: 5vw;
  display: block;
  border-bottom: 3px solid orangered;
  position: relative;
  right: 5.6vw;
  top: 4.4vh;
}
.animal img{
  margin: 5vh 0 10vh 0;
  width: 60vw;
}